body {
	margin: 0;
	background-image:url(fundo.jpg);
	background-attachment:fixed;
	background-size:100%;
	background-repeat:no-repeat;
	background-color:#000;
}

#fundo {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#jogo {
	position: absolute;
	top: 200px;
	margin: auto;
	width: 500px;
	height: 500px;
	background: #C0C0C0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: solid;
	border-color: #C0C0C0;
}

#score {
	position: absolute;
	margin-bottom: 15px;
	border: solid;
	border-color: #C0C0C0;
	width: 500px;
	height: 45px;
	background: black;
	top: 145px;
}
@font-face {
  font-family: "Poxel";
  src: url("poxel-font.ttf")
}

#pontos{
	left: 50%;
	transform: translate(25%);
	font-size: 40px;
	margin-bottom: 0px;
  color: #C0C0C0;
  margin: auto;
 	font-family: "Poxel";
	width: auto;
}
#titulo{
	font-family: "Poxel";
	font-size: 50px;
	color: #C0C0C0;
	position: absolute;
	top: 10px;
	width: auto;
}
#nomes{
	font-family: "Poxel";
	font-size: 20px;
	color: #C0C0C0;
	position: absolute;
	top: 850px;
}
#data{
	font-family: "Poxel";
	font-size: 20px;
	color: #C0C0C0;
	position: absolute;
	left: 20px;
	top: 850px;
}

/*Códigos .swal para interagir com a biblioteca sweet alert 2, para deixar os alertas mais agradáveis.*/
.swal2-title {
  font-family: Poxel;
}
.swal2-modal {
  background-color: rgba(63,255,106,0.69);
  border: 3px solid white;
}
.swal-button {  
  padding: 7px 19px;  
  border-radius: 2px;  
  background-color: #ADFF2F;  
  font-size: 12px;  
  border: 1px solid #ADFF2F;  
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);  
} 