 body {
	margin: 0;
}

#fundo {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background: black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#jogo {
	position: absolute;
	top: 200px;
	margin: auto;
	width: 500px;
	height: 500px;
	background: #C0C0C0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: solid;
	border-color: #C0C0C0;
}

#score {
	position: absolute;
	margin-bottom: 15px;
	border: solid;
	border-color: #C0C0C0;
	width: 500px;
	height: 45px;
	background: black;
	top: 145px;
}
@font-face {
  font-family: "Poxel";
  src: url("poxel-font.ttf")
}

#pontos{
	left: 50%;
	transform: translate(25%);
	font-size: 40px;
	margin-bottom: 0px;
    color: #C0C0C0;
    margin: auto;
 	font-family: "Poxel";
	width: auto;
}
#titulo{
	font-family: "Poxel";
	font-size: 50px;
	color: #C0C0C0;
	position: absolute;
	top: 10px;
	width: auto;
}
#nomes{
	font-family: "Poxel";
	font-size: 20px;
	color: #C0C0C0;
	position: absolute;
	top: 900px;
}
#data{
	font-family: "Poxel";
	font-size: 20px;
	color: #C0C0C0;
	position: absolute;
	left: 20px;
	top: 900px;
}
